{% extends 'base.html' %}

{% block content %}
<div class="container py-4">
  <div class="p-5 mb-4 bg-light rounded-3 border border-2">
    <div class="container-fluid py-4">
      <h1 class="display-5 fw-bold">Bem vindo ao MusicSite</h1>
      <p class="mt-4 fs-4">O site de música para os artistas que seguem tendências.</p>
    </div>
  </div>
  <div class="row align-items-md-stretch gx-5 gy-4">
    <div class="col-md-6">
      <div class="p-5 rounded-3 text-white bg-dark">
        <h2>Siga tendências</h2>
        <p class="mt-4">Veja quais musicas estão fazendo sucesso em qual parte do mundo.</p>
        {% if user.is_authenticated %}
        <a class="btn btn-outline-light" href="/trending">Ver tendências</a>
        {% endif %}
      </div>
    </div>
    <div class="col-md-6">
      <div class="p-5 rounded-3 bg-light border">
        <h2>Cadastre suas músicas</h2>
        <p class="mt-4">Cadastre as músicas que você produziu em nosso banco de dados.</p>
        {% if user.is_authenticated %}
        <a class="btn btn-outline-secondary" href="/songs">Cadastrar músicas</a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}